build/
bin/
script/python/__pycache__/
*.pyc
*/__pycache__/
script/python/py_cffi/Release/
script/python/.idea/
client/GameClient/target/
client/GameClient/.idea
client/GameClient/.settings
client/GameClient/.classpath
client/GameClient/.project
*.log
