build/
bin/
script/python/__pycache__/
*.pyc
*/__pycache__/
script/python/py_cffi/Release/
script/python/.idea/
tool/robot/JavaRobot/target/
tool/robot/JavaRobot/.idea
tool/robot/JavaRobot/.settings
tool/robot/JavaRobot/.classpath
tool/robot/JavaRobot/.project
shell/coredump*
log/
